
# Created by https://www.gitignore.io/api/osx,vim,emacs,swift,xcode,fastlane,carthage,cocoapods,objective-c



### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# End of https://www.gitignore.io/api/osx,vim,emacs,swift,xcode,fastlane,carthage,cocoapods,objective-c
